<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}">{{site.title}}</a>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="/">首页</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">更多 Ruby on Rails 信息</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://rubyonrails.org/blog">博客</a>
            <a class="navbar-item" href="https://api.rubyonrails.org/">API</a>
            <a class="navbar-item" href="https://discuss.rubyonrails.org/">论坛</a>
            <a class="navbar-item" href="https://github.com/rails/rails">代码</a>
          </div>
        </div>
        <!--
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Services</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Service A</a>
            <a class="navbar-item" href="#">Service B</a>
            <a class="navbar-item" href="#">Service C</a>
          </div>
        </div>
        -->
        <a class="navbar-item" href="#">参与贡献</a>

      </div>
    </div>
  </nav>
</header>
